body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(101, 50, 57);
    
}
header{
    background-color: rgb(164, 163, 160);
    color:rgb(116, 115, 113)
    padding 20px;
    text-align: center;
}
img{
    width: 180px;
    border-radius: 50%;
    height: auto;
}
nav{
    background-color: rgb(167, 151, 133);
    text-align: center;
    padding: 10px;
}

nav a{
    color:chocolate;
    margin: 0 15px;
}
nav a:hover {
    color:mistyrose;
}
main {
    padding: 20px;
    background-color: rgb(163, 133, 117);
}
section {
    margin-bottom: 30px;
}
footer {
    background-color: seashell;
    color:lightgray;
    text-align: center;
    padding: 10px;
}